
Atomik/Library/ProjectSettings.asset

*.dll

Atomik/Library/StateCache/SceneView/

Atomik/Library/StateCache/Hierarchy/

Atomik/Library/metadata/

*.pdb

*.info

Atomik/Library/assetDatabase3

*.log
